
body
    margin: 0
    font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.pink
    color: #E010D0 !important
    border-color: #E010D0 !important
.blue
    color: #5890E1 !important
    border-color: #5890E1 !important
.green
    color: #397E6F !important
    border-color: #397E6F !important
.yellow
    color: #F5A623 !important
    border-color: #F5A623 !important
.purple
    color: #9013FE !important
    border-color: #9013FE !important
.dark
    color: #707070 !important
    border-color: #707070 !important
.girl-pink
    background-color: #E575A3
.female-blue
    background-color: #5DB2E3
.male-blue
    background-color: #004978
.returns
    background-color: #A9A9A9
.bg-g
    background-color: #2E8270 !important
.bg-c
    background-color: #8AC4A4 !important
.bg-b
    background-color: #50E3C2 !important
.bg-w
    background-color: #DCDCDC !important

.main-wrapper
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    position: relative
    .wizard
        width: 100%
        display: flex
        justify-content: center
        align-items: center


.flipper_links
    width: 100%
    display: flex
    justify-content: space-evenly
    .link
        font-size: 2rem
        color: #ffe2ec
        cursor: pointer
        transition: color 0.3s
        &:hover
            color: #FF0068
        &.active
            color: #f50057
            cursor: default
